In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd

In [3]:
link = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/links.csv')
rating = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ratings.csv')
movie = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/movies.csv')

In [4]:
link

       movieId   imdbId    tmdbId
0            1   114709     862.0
1            2   113497    8844.0
2            3   113228   15602.0
3            4   114885   31357.0
4            5   113041   11862.0
...        ...      ...       ...
34203   151697    62636   76851.0
34204   151701  1773315  235450.0
34205   151703  1507355   58500.0
34206   151709  2436672  365065.0
34207   151711   388667   67844.0

[34208 rows x 3 columns]

In [5]:
rating

          userId  movieId  rating   timestamp
0              1      169     2.5  1204927694
1              1     2471     3.0  1204927438
2              1    48516     5.0  1204927435
3              2     2571     3.5  1436165433
4              2   109487     4.0  1436165496
...          ...      ...     ...         ...
22884372  247753    49530     5.0  1430437962
22884373  247753    69481     3.0  1430437984
22884374  247753    74458     4.0  1430437968
22884375  247753    76093     5.0  1430437811
22884376  247753   130636     0.5  1430437721

[22884377 rows x 4 columns]

In [6]:
movie

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
34203,151697,Grand Slam (1967),Thriller
34204,151701,Bloodmoney (2010),(no genres listed)
34205,151703,The Butterfly Circus (2009),Drama
34206,151709,Zero (2015),Drama|Sci-Fi
34207,151711,The 2000 Year Old Man (1975),(no genres listed)

In [7]:
link.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34208 entries, 0 to 34207
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  34208 non-null  int64
 1   imdbId   34208 non-null  int64
 2   tmdbId   33912 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 801.9 KB

In [8]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22884377 entries, 0 to 22884376
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 698.4 MB

In [9]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34208 entries, 0 to 34207
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  34208 non-null  int64
 1   title    34208 non-null  object
 2   genres   34208 non-null  object
dtypes: int64(1), object(2)
memory usage: 801.9+ KB

## Data Preprocessing

In [10]:
import numpy as np
 
# Menggabungkan seluruh movieId pada kategori Film
movie_all = np.concatenate((
    link.movieId.unique(),
    movie.movieId.unique(),
    rating.movieId.unique()
))
 
# Mengurutkan data dan menghapus data yang sama
movie_all = np.sort(np.unique(movie_all))
 
print('Jumlah seluruh data Film berdasarkan movieId: ', len(movie_all))

Jumlah seluruh data Film berdasarkan movieId:  34208

### Mengetahui Jumlah Rating

In [11]:
# Menggabungkan file link, tag, movie, rating ke dalam dataframe movie_info 
movie_info = pd.merge(link, movie, on = 'movieId')
movie_info

,movieId,imdbId,tmdbId,title,genres
0,1,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy
2,3,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance
3,4,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,113041,11862.0,Father of the Bride Part II (1995),Comedy
...,...,...,...,...,...
34203,151697,62636,76851.0,Grand Slam (1967),Thriller
34204,151701,1773315,235450.0,Bloodmoney (2010),(no genres listed)
34205,151703,1507355,58500.0,The Butterfly Circus (2009),Drama
34206,151709,2436672,365065.0,Zero (2015),Drama|Sci-Fi
34207,151711,388667,67844.0,The 2000 Year Old Man (1975),(no genres listed)

In [12]:
rate_group = rating.drop(['userId', 'timestamp'], axis = 1)
rate_group = rate_group.groupby(['movieId']).mean()
rate_group

           rating
movieId
1        3.894802
2        3.221086
3        3.180094
4        2.879727
5        3.080811
...           ...
151697   3.000000
151701   4.000000
151703   5.000000
151709   3.500000
151711   4.000000

[33670 rows x 1 columns]

In [13]:
movies = pd.merge(rate_group, movie_info , on='movieId')
movies

,movieId,rating,imdbId,tmdbId,title,genres
0,1,3.894802,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,3.221086,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy
2,3,3.180094,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance
3,4,2.879727,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,3.080811,113041,11862.0,Father of the Bride Part II (1995),Comedy
...,...,...,...,...,...,...
33665,151697,3.000000,62636,76851.0,Grand Slam (1967),Thriller
33666,151701,4.000000,1773315,235450.0,Bloodmoney (2010),(no genres listed)
33667,151703,5.000000,1507355,58500.0,The Butterfly Circus (2009),Drama
33668,151709,3.500000,2436672,365065.0,Zero (2015),Drama|Sci-Fi
33669,151711,4.000000,388667,67844.0,The 2000 Year Old Man (1975),(no genres listed)

### Cek missing value dengan fungsi isnull()

In [14]:
movies.isnull().sum()

movieId      0
rating       0
imdbId       0
tmdbId     284
title        0
genres       0
dtype: int64

In [15]:
movies.loc[(movies['tmdbId'].isnull())]

,movieId,rating,imdbId,tmdbId,title,genres
140,142,3.058140,94878,NaN,Shadows (Cienie) (1988),Drama
598,604,2.666667,115978,NaN,Criminals (1996),Documentary
635,642,1.807692,117517,NaN,Roula (1995),Drama
708,720,4.034625,118114,NaN,Wallace & Gromit: The Best of Aardman Animatio...,Adventure|Animation|Comedy
709,721,3.000000,114103,NaN,Halfmoon (Paul Bowles - Halbmond) (1995),Drama
...,...,...,...,...,...,...
24385,115279,3.250000,82610,NaN,That Kiljunen Family (Kiljusen herrasvÃ¤ki) (1981),Children|Comedy|Musical
24480,115715,4.000000,3670792,NaN,Learning to Ride (2014),Drama|Romance
24501,115821,4.000000,3900116,NaN,Shakespeare's Globe: Henry V (2013),Drama
27376,128734,4.500000,4438688,NaN,Polskie gÃ³wno,Comedy|Musical
32817,148093,3.000000,4006044,NaN,The Republic,Action|Crime|Thriller

Drop baris dengan nilai tmbdId yang null

In [16]:
movie_clean = movies.dropna()
movie_clean

,movieId,rating,imdbId,tmdbId,title,genres
0,1,3.894802,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,3.221086,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy
2,3,3.180094,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance
3,4,2.879727,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,3.080811,113041,11862.0,Father of the Bride Part II (1995),Comedy
...,...,...,...,...,...,...
33665,151697,3.000000,62636,76851.0,Grand Slam (1967),Thriller
33666,151701,4.000000,1773315,235450.0,Bloodmoney (2010),(no genres listed)
33667,151703,5.000000,1507355,58500.0,The Butterfly Circus (2009),Drama
33668,151709,3.500000,2436672,365065.0,Zero (2015),Drama|Sci-Fi
33669,151711,4.000000,388667,67844.0,The 2000 Year Old Man (1975),(no genres listed)

Drop baris yang memiliki genres sebagai "No Genres Listed"

In [17]:
movie_fix = movie_clean[movie_clean["genres"].str.contains("(no genres listed)")==False]
movie_fix

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

,movieId,rating,imdbId,tmdbId,title,genres
0,1,3.894802,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,3.221086,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy
2,3,3.180094,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance
3,4,2.879727,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,3.080811,113041,11862.0,Father of the Bride Part II (1995),Comedy
...,...,...,...,...,...,...
33663,151691,5.000000,76149,83001.0,Hollywood High (1976),Comedy
33664,151695,5.000000,2580382,329004.0,The Survivalist (2015),Drama|Sci-Fi|Thriller
33665,151697,3.000000,62636,76851.0,Grand Slam (1967),Thriller
33667,151703,5.000000,1507355,58500.0,The Butterfly Circus (2009),Drama
33668,151709,3.500000,2436672,365065.0,Zero (2015),Drama|Sci-Fi

In [18]:
movie_fix.describe()

             movieId        rating        imdbId         tmdbId
count   32265.000000  32265.000000  3.226500e+04   32265.000000
mean    72660.431675      3.101926  7.345263e+05   76586.369162
std     50319.451984      0.696798  9.755132e+05   83542.920565
min         1.000000      0.500000  3.000000e+00       2.000000
25%      8797.000000      2.750000  8.160900e+04   18703.000000
50%     81979.000000      3.200000  2.222930e+05   43741.000000
75%    115834.000000      3.538462  1.213012e+06   97666.000000
max    151709.000000      5.000000  5.290524e+06  379689.000000

Mengambil rating yang memiliki rating diatas 2.5/5.0

In [19]:
movie_fix = movie_fix[(movie_fix['rating']>=2.5)]
movie_fix.describe()

             movieId        rating        imdbId         tmdbId
count   27598.000000  27598.000000  2.759800e+04   27598.000000
mean    70345.504348      3.312249  7.216110e+05   74317.370643
std     49931.711494      0.460958  9.617374e+05   81998.750794
min         1.000000      2.500000  8.000000e+00       2.000000
25%      8521.250000      3.000000  7.945725e+04   17623.500000
50%     78911.000000      3.306161  2.165810e+05   42985.000000
75%    112870.250000      3.609141  1.189344e+06   94569.500000
max    151709.000000      5.000000  5.290524e+06  379689.000000

In [20]:
movie_fix.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27598 entries, 0 to 33668
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27598 non-null  int64
 1   rating   27598 non-null  float64
 2   imdbId   27598 non-null  int64
 3   tmdbId   27598 non-null  float64
 4   title    27598 non-null  object
 5   genres   27598 non-null  object
dtypes: float64(2), int64(2), object(2)
memory usage: 1.5+ MB

In [21]:
movie_fix

,movieId,rating,imdbId,tmdbId,title,genres
0,1,3.894802,114709,862.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,3.221086,113497,8844.0,Jumanji (1995),Adventure|Children|Fantasy
2,3,3.180094,113228,15602.0,Grumpier Old Men (1995),Comedy|Romance
3,4,2.879727,114885,31357.0,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,3.080811,113041,11862.0,Father of the Bride Part II (1995),Comedy
...,...,...,...,...,...,...
33663,151691,5.000000,76149,83001.0,Hollywood High (1976),Comedy
33664,151695,5.000000,2580382,329004.0,The Survivalist (2015),Drama|Sci-Fi|Thriller
33665,151697,3.000000,62636,76851.0,Grand Slam (1967),Thriller
33667,151703,5.000000,1507355,58500.0,The Butterfly Circus (2009),Drama
33668,151709,3.500000,2436672,365065.0,Zero (2015),Drama|Sci-Fi

Melakukan pengecekan bahwa sudah tidak ada lagi *missing variable*

In [22]:
movie_fix.isnull().sum()

movieId    0
rating     0
imdbId     0
tmdbId     0
title      0
genres     0
dtype: int64

In [23]:
ratings = movie_fix['rating'].tolist()
title = movie_fix['title'].tolist()
genres = movie_fix['genres'].tolist()
 
print(len(ratings))
print(len(title))
print(len(genres))

27598
27598
27598

In [24]:
movie_new = pd.DataFrame({
    'rating': ratings,
    'title': title,
    'genres': genres
})
movie_new = movie_new.drop_duplicates(subset=['title'])
movie_new = movie_new.dropna()
movie_new

,rating,title,genres
0,3.894802,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,3.221086,Jumanji (1995),Adventure|Children|Fantasy
2,3.180094,Grumpier Old Men (1995),Comedy|Romance
3,2.879727,Waiting to Exhale (1995),Comedy|Drama|Romance
4,3.080811,Father of the Bride Part II (1995),Comedy
...,...,...,...
27593,5.000000,Hollywood High (1976),Comedy
27594,5.000000,The Survivalist (2015),Drama|Sci-Fi|Thriller
27595,3.000000,Grand Slam (1967),Thriller
27596,5.000000,The Butterfly Circus (2009),Drama
27597,3.500000,Zero (2015),Drama|Sci-Fi

Setelah data bersih maka lanjut ke dalam proses filtering

## Content Based Filtering

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Inisialisasi TfidfVectorizer
tf = TfidfVectorizer()
tf.fit(movie_new['genres'])

tf.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['action',
 'adventure',
 'animation',
 'children',
 'comedy',
 'crime',
 'documentary',
 'drama',
 'fantasy',
 'fi',
 'film',
 'horror',
 'imax',
 'musical',
 'mystery',
 'noir',
 'romance',
 'sci',
 'thriller',
 'war',
 'western']

In [26]:
tfidf_matrix = tf.fit_transform(movie_new['genres']) 
 
# Melihat ukuran matrix tfidf
tfidf_matrix.shape

(27583, 21)

In [27]:
tfidf_matrix.todense()

matrix([[0.        , 0.42716953, 0.50842845, ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.52199976, 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        ...,
        [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ]])

In [28]:
pd.DataFrame(
    tfidf_matrix.todense(), 
    columns=tf.get_feature_names(),
    index=movie_new.title
).sample(20, axis=1).sample(10, axis=0)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,adventure,children,fantasy,comedy,musical,thriller,war,film,romance,animation,drama,imax,sci,horror,fi,noir,action,mystery,documentary,crime
title,,,,,,,,,,,,,,,,,,,,
Into the Storm (2014),0.0,0.0,0.0,0.000000,0.0,0.683424,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.730022,0.0,0.0,0.0
Lost in Translation (2003),0.0,0.0,0.0,0.551416,0.0,0.000000,0.000000,0.0,0.720034,0.0,0.421298,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
What Women Want (2000),0.0,0.0,0.0,0.608008,0.0,0.000000,0.000000,0.0,0.793931,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
"Wanderers, The (1979)",0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
Starry Eyes (2014),0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0,1.0,0.0,0.0,0.000000,0.0,0.0,0.0
Kiss Me Again (2006),0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.863111,0.0,0.505014,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
Flags of Our Fathers (2006),0.0,0.0,0.0,0.000000,0.0,0.000000,0.926383,0.0,0.000000,0.0,0.376584,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
The Artist and the Model (2012),0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
Little Soldier (Lille soldat) (2008),0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,1.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0
"Longest Yard, The (2005)",0.0,0.0,0.0,0.794617,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.607111,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0

In [29]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(tfidf_matrix)
cosine_sim

array([[1.        , 0.81833281, 0.16295505, ..., 0.        , 0.        ,
        0.        ],
       [0.81833281, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.16295505, 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.29277164],
       [0.        , 0.        , 0.        , ..., 0.        , 0.29277164,
        1.        ]])

In [30]:
# Membuat dataframe dari variabel cosine_sim dengan baris dan kolom berupa nama resto
cosine_sim_df = pd.DataFrame(cosine_sim, index=movie_new['title'], columns=movie_new['title'])
print('Shape:', cosine_sim_df.shape)
 
# Melihat similarity matrix pada setiap resto
cosine_sim_df.sample(5, axis=1).sample(10, axis=0)

Shape: (27583, 27583)

title,The Sasquatch Gang (2006),Echelon Conspiracy (2009),9-Man (2014),Felicia's Journey (1999),On the Ropes (1999)
title,,,,,
"Man Who Knew Too Little, The (1997)",0.453102,0.297782,0.000000,0.593010,0.000000
Guess Who (2005),0.608008,0.000000,0.000000,0.000000,0.000000
The Price We Pay (2014),0.000000,0.000000,1.000000,0.000000,0.892849
Brick Mansions (2014),0.000000,0.346037,0.000000,0.000000,0.158779
Jim Jefferies: Contraband (2008),1.000000,0.000000,0.000000,0.000000,0.000000
"Ghost Writer, The (2010)",0.000000,0.797246,0.000000,0.562052,0.147766
Confessions of a Dangerous Mind (2002),0.428171,0.281398,0.000000,0.560381,0.147327
Prophet's Prey (2015),0.000000,0.000000,0.717857,0.000000,0.640938
City Heat (1984),0.581784,0.436271,0.000000,0.000000,0.000000
Spite Marriage (1929),1.000000,0.000000,0.000000,0.000000,0.000000

## Rekomendasi Data

In [31]:
def movie_recommendations(title_movie, similarity_data=cosine_sim_df, items=movie_new[['title', 'genres']], k=10):

    index = similarity_data.loc[:,title_movie].to_numpy().argpartition(range(-1, -k, -1))
    
    # Mengambil data dengan similarity terbesar dari index yang ada
    closest = similarity_data.columns[index[-1:-(k+2):-1]]

    closest = closest.drop(title_movie, errors='ignore')
 
    return pd.DataFrame(closest).merge(items).head(k)

In [32]:
movie_recommendations('How to Train Your Dragon 2 (2014)')

,title,genres
0,Dragon Ball Z Gaiden: The Plot to Destroy the ...,Action|Adventure|Animation
1,Dragon Ball Z: The History of Trunks (Doragon ...,Action|Adventure|Animation
2,LEGO Batman: The Movie - DC Heroes Unite (2013),Action|Adventure|Animation
3,Dragon Ball Z: Bardock - The Father of Goku (D...,Action|Adventure|Animation
4,Kung Fu Panda 3 (2016),Action|Adventure|Animation
5,Dragon Ball Z: Wrath of the Dragon (Doragon bÃ´...,Action|Adventure|Animation
6,Dragon Ball Z: Fusion Reborn (Doragon bÃ´ru Z 1...,Action|Adventure|Animation
7,Dragon Ball Z: The Return of Cooler (Doragon b...,Action|Adventure|Animation
8,Dragon Ball GT: A Hero's Legacy (Doragon bÃ´ru ...,Action|Adventure|Animation
9,Iron Man & Captain America: Heroes United (2014),Action|Adventure|Animation